body {
    background-color:black;
    color: white;
}
.red{
   background:rgb(212, 32, 32);
   padding: 5px 15px; 
   font-size: 14px;
   }
.width-150px{
    width: 80px;  
}
.green{
    background:yellowgreen;
    padding: 5px 15px; 
    font-size: 14px;
    }
 .yellow{
        background:yellow;
        padding: 5px 15px; 
        font-size: 14px;
        }
        .grey{
            background:grey;
            padding: 5px 15px; 
            font-size: 14px;
            }
.username
{
    positon: right;
}