body {
    background-color:#000000;
    color: white;
    overflow-x: hidden;    
}
.red{
   background:rgb(212, 32, 32);
   padding: 5px 15px; 
   font-size: 14px;
   }
.green{
    background:yellowgreen;
    padding: 5px 15px; 
    font-size: 14px;
    }
 .yellow{
    background:#d58512;
    padding: 5px 15px; 
    font-size: 14px;
    }
.grey{
     background:#666666;
     padding: 5px 15px; 
     font-size: 14px;
     color:white;
     }
            width-150px{
                width: 80px;  
            }

.grey_btn {
    color:grey;
    font-size: 20px;
}
.grey_background {
    background: grey;
    color: white;
}
.username:hover{
    color: white;
}
.black_background {
    background-color: black;
    border: none;
}          
.dropdown
{
    positon: absolute;
}
.noHover{
    pointer-events: none;
}
.blue-button
{
     width :226px;

}
.spacebutton
{
    margin-bottom: 10px; 
}
.verticalbutton
{

}


.col-md-5ths {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 50px;
    width: 20%;
    margin-bottom: 7px;
}